@use '../abstracts' as *;

:root {
    // Theme
    // ==========================================
    color-scheme: dark light;

    @media (prefers-color-scheme: dark) {
        & {
            @include colors(dark);
        }
    }

    &.theme--light {
        color-scheme: light;
        @include colors(light);
    }

    &.theme--dark {
        color-scheme: dark;
        @include colors(dark);
    }
}