// Colors ==========================================
$colors: (
    light:(
        bg: #fff,
        text: #2c2c2c,
        accent: #e60067
    ),
    dark: (
        bg: #333333,
        text: #cccccc,
        accent: #b4004f
    )
);