@use './colors' as *;
  
@mixin colors($key) {
    @each $prop, $value in map-get($colors, $key) {
        --color-#{$prop}: #{$value};
    }
}

@mixin unlist() {
    margin: 0;
    padding: 0;
    list-style: none;
}