// Inset Square
// ==========================================
$space-inset-square-xl: 64px 64px 64px 64px;
$space-inset-square-l: 32px 32px 32px 32px;
$space-inset-square-m: 16px 16px 16px 16px;
$space-inset-square-s: 8px 8px 8px 8px;
$space-inset-square-xs: 4px 4px 4px 4px;

// Inset Squish
// ==========================================
$space-inset-squish-l: 16px 32px 16px 32px;
$space-inset-squish-m: 8px 16px 8px 16px;
$space-inset-squish-s: 4px 8px 4px 8px;

// Inset Strecth
// ==========================================
$space-inset-stretch-m: 24px 16px 24px 16px;
$space-inset-stretch-s: 12px 8px 12px 8px;

// Stack
// ==========================================
$space-stack-xl: 0 0 64px 0;
$space-stack-l: 0 0 32px 0;  
$space-stack-m: 0 0 16px 0;   
$space-stack-s: 0 0 8px 0; 
$space-stack-xs: 0 0 4px 0;
$space-stack-xxs: 0 0 2px 0;

// Inline
// ==========================================
$space-inline-xl: 0 64px 0 0;
$space-inline-l: 0 32px 0 0;  
$space-inline-m: 0 16px 0 0;   
$space-inline-s: 0 8px 0 0; 
$space-inline-xs: 0 4px 0 0;
$space-inline-xxs: 0 2px 0 0;

// Generic
// ==========================================
$space-xl: 64px;
$space-l: 32px;   
$space-m: 16px;   
$space-s: 8px;  
$space-xs: 4px; 
$space-xxs: 2px;