// Font Sizes 
// ==========================================
$font-size-h1: 3.2rem;//clamp(0,0,0);
$font-size-h2: 2.8rem;//clamp(0,0,0);
$font-size-h3: 2.4rem;//clamp(0,0,0);
$font-size-h4: 2rem;//clamp(0,0,0);
$font-size-h5: 1.8rem;//clamp(0,0,0);
$font-size-h6: 1.6rem;
$font-size-p1: 2rem;//clamp(0,0,0);
$font-size-p2: 1.8rem;//clamp(0,0,0);
$font-size-p3: 1.6rem;
$font-size-p4: 1.4rem;
$font-size-b1: 1.6rem;
$font-size-b2: 1.4rem;
$font-size-l1: 1.6rem;
$font-size-l2: 1.4rem;

// Line Heights
// ==========================================
$line-height-headings: 1.2;
$line-height-paragraphs: 1.5;
$line-height-buttons: 1;
$line-height-labels: 1;

// Letter Spacings
// ==========================================
$letter-spacing-headings: -0.02em;
$letter-spacing-buttons: 0.05em;
$letter-spacing-labels: 0.05em;

// Font Weights
// ==========================================
$font-weight-bold: 700; 
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;